:root{

    --accent: #5686f5;
    --accent-10: #5686f510;
    --emphasis: #e8e8fd;
    --text: #98a0b3;
  /* Typography */
    --h1: 2.25rem;
    --h2: 1.5rem;
    --paragraph: clamp(1rem, 0.875rem + 0.4vw, 1.125rem);
  }


main {
    margin-top: 8em;
    padding-block: 3em; 
  }

article {
    margin: auto;
    max-width: 70ch;
  }
  
  article > p ~ p {
    margin-bottom: 1.5em;
  }

  h1 {
    color: var(--emphasis);
    margin-bottom: 1.5em;
    font-size: var(--h1);
    font-weight: 700;
  }
  
  h2 {
    color: var(--emphasis);
    margin-bottom: 1.5em;
    margin-top: 3em;
    font-size: 1.5rem;;
    font-weight: 700;
  }
  
  h3 {
    color: var(--accent);
    margin-bottom: 1.5em;
    font-size: 1.25rem;
    font-weight: var(--fw-bold);
  }
  
  p {
    font-size: var(--paragraph);
    color: var(--text);
    line-height: 32px;
    letter-spacing: 0.25px;
	  margin-top: 1.5em;
  }


  
  .info_block {
    display: flex;
    gap: 6px;
    margin-bottom: 1em;
  }
  
  .info {
    font-size: 1rem;
    color: #98a0b3;
  }
  
  .likes, .replies, .mentions {
    font-size: 1rem;
    color: var(--accent);
  }
  
  .last_update {
    display: inline-block;
    background-color: var(--accent-10);
    color: var(--accent);
    margin-bottom: 6em;
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: 0.5em;
  }
  
  .link {
    color: var(--accent);
    cursor: pointer;
  }
  
  article img {
    width: 100%;
    margin-block: 3em;
    border-radius: 0.25em;
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #eb4a4a;
    color: white;
  }

 /** 
  .highlight {
    margin: auto;
    margin-bottom: 3em;
    background-color: var(--accent-10);
    max-width: 60ch;
    border-radius: 0.5em;
    padding: 3em;
  }

  
  em {
    color: var(--emphasis);
  }
  
  ul {
    margin: 1.5em;
  }
  
  li {
    padding-bottom: 1.5em;
    margin-left: 1em;
    font-size: var(--paragraph);
    color: var(--emphasis);
    list-style: square;
  }
  
**/

@media screen and (max-width: 760px) {
    body {
      padding-inline: 1.5em;
    }
    
    .info_block {
      flex-direction: column;
    }
    
    .highlight {
      padding: 1.5em;
      max-width: 70ch;
    }
  }