* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

:root {
	--bg-color: #020312;
	--text-color: #fff;
	--main-color: #eb4a4a;
	--second-color: gray;
	--other-color: #12141c;
	--h1-font: 5.2rem;
	--h2-font: 3.5rem;
	--p-font: 1.1rem;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
}

header {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 22px 16%;
	border-bottom: 1px solid transparent;
	transition: all .40s ease;
}

.logo img {
	width: 135px;
	height: auto;
}

.navbar {
	display: flex;
}

.navbar a {
	color: var(--second-color);
	font-size: var(--p-font);
	font-weight: 600;
	padding: 10px 25px;
	margin: 0 2px;
	border-radius: 0.5rem;
	transition: all .40s ease;
}

.navbar a:hover {
	background: var(--main-color);
	color: var(--text-color);
}

#menu-icon {
	font-size: 36px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

section {
	padding: 160px 16% 90px;
}

img {
    vertical-align: middle;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.view {
    display: flex;
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}



.btn {
    display: inline-block;
    padding: 14px 40px;
    border-radius: 0.5rem;
    font-size: 17px;
    font-weight: 500;
    background: var(--main-color);
    color: var(--text-color);
    border: 1px solid var(--main-color);
    transition: all .40s ease;
}

.btn:hover {
    transform: scale(1.01) translateY(-5px);
    background: transparent;
    border: 1px solid var(--main-color);
}


.home-section{
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}

.home-text h4 {
    color: var(--main-color);
	font-size: 24px;
	font-weight: 600;
}

.home-text h3 {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 3rem;
}
.home-text h1 {
	margin: 20px 0;
	font-size:3.5rem;
	font-weight: bold;
	line-height: 1.1;
	letter-spacing: 2px;
}

.home-text span {
    color: var(--main-color);
}

.home-image {
	text-align: center;
}

.home-image img {
	height: auto;
	width: 100%;
	max-width: 460px;
}

header.sticky {
	padding: 10px 16%;
	background: var(--bg-color);
	border-bottom: 1px solid #0e1630;
}

.about {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}

.about-text h4 {
	margin: 10px 0;
	color: var(--main-color);
	font-size: 20px;
	font-weight: 600;
}

.about-text h2 {
	font-size: var(--h2-font);
}

.about-text p {
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
	margin-bottom: 2rem;
}

.about-gri {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: center;
	gap: 1rem;
	margin-bottom: 3rem;
}

.about-in h5 {
	font-size: 22px;
	font-weight: 600;
}

.about-img img {
	height: auto;
	width: 100%;
	max-width: 460px;
}

.main-text {
	text-align: center;
}

.main-text h2 {
	font-size: var(--h2-font);
	margin-bottom: 10px;
}

.main-text h4 {
	color: var(--main-color);
	font-size: 24px;
	font-weight: 600;
}

.services-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	align-items: center;
	text-align: center;
	gap: 2rem;
	margin-top: 5rem;
}

.box {
	padding: 45px;
	background: #12141c;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
}

.box h3 {
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}

.box p {
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
}

.box:hover {
	transform: scale(1.01) translateY(-5px);
	border-top: 5px solid var(--main-color);
}

.box:hover h3 {
	color: var(--main-color);
}


.wrapperts {
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-top: 5rem;
}

.wrapperts .Tastbox {
	background: var(--other-color);
	width: calc(33% - 10px);
	padding: 25px;
	border-radius: 3px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.wrapperts .Tastbox i.quote {
	font-size: 20px;
	color: var(--main-color);
}

.wrapperts .Tastbox p {
	color: var(--second-color);
}

.wrapperts .Tastbox .content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
}

.Tastbox .info .name {
	font-weight: 600;
	font-size: 17px;
	color: var(--second-color);
}

.Tastbox .info .job {
	font-size: 16px;
	font-weight: 500;
	color: var(--second-color);
}

.Tastbox .info .stars {
	margin-top: 2px;
}

.Tastbox .info .stars i {
	color: var(--main-color);
}

.Tastbox .content .image {
	height: 75px;
	width: 75px;
	padding: 3px;
	background: var(---second-color);
	border-radius: 50%;
}

.content .image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #fff;
}

.Tastbox:hover .content .image img {
	border-color: var(--main-color);
}


.portfolio-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	align-items: center;
	gap: 2rem;
	margin-top: 5rem;
}

.row img {
	height: auto;
	width: 100%;
	border-radius: 0.5rem;
	margin-bottom: 1.5rem;
}

.row {
	padding: 25px;
	background: #12141c;
	border-radius: 0.5rem;
	transition: all .40s ease;
}

.main-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.row h3 {
	font-size: 25px;
	font-weight: 700;
	color: #fff;
}

.row h6 {
	color: var(--main-color);
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
}

.row-icon i {
	font-size: 21px;
	color: #fff;
}

.row:hover {
	transform: scale(1.01) translateY(-5px);
	cursor: pointer;
}

.contact {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 3rem;
}

.contact-text h4 {
	margin: 15px 0;
	color: var(--main-color);
	font-size: 20px;
	font-weight: 600;
}

.contact-text h2 {
	font-size: var(--h2-font);
}

.contact-text p {
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
	margin-bottom: 2rem;
}

.contact-list {
	margin-bottom: 3rem;
}

.contact-list li {
	margin-bottom: 10px;
	display: block;
}

.contact-list li a {
	display: block;
	color: var(--second-color);
	font-size: var(--p-font);
	font-weight: 600;
	transition: all .40s ease;
}

.contact-list li a:hover {
	transform: scale(1.01) translateY(-5px);
	color: var(--main-color);
}

.contact-icons i {
	height: 40px;
	width: 40px;
	background: #12141c;
	border-radius: 0.5rem;
	color: var(--main-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	margin-right: 10px;
	transition: all .40s ease;
}

.contact-icons i:hover {
	transform: scale(1.01) translateY(-5px);
	color: var(--text-color);
	background: var(--main-color);
}

.contact-form form {
	position: relative;
}

.contact-form form input,
form textarea {
	border: none;
	outline: none;
	width: 100%;
	padding: 18px;
	background: #12141c;
	color: var(--text-color);
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
}

.contact-form textarea {
	resize: none;
	height: 220px;
}

.contact-form form .send {
	display: inline-block;
	font-size: 17px;
	font-weight: 500;
	background: var(--main-color);
	color: var(--text-color);
	width: 190px;
	transition: all .40s ease;
	cursor: pointer;
}

/** Frequently Asked Questions **/

.faq {
	padding: 10px 12px;
	text-align: center;
	font-size: 18px;
}

.faq h2 {
	text-align: center;
	font-size: 40px;
	align-items: center;
	color: #fff;
}

#Questions {
	margin: 2rem auto;
	width: 95%;
}

#Questions li {
	list-style: none;
	width: 100%;
	margin-bottom: 10px;
	background: var(--other-color);
	padding: 10px;
	border-radius: 4px;
}

#Questions li label {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	color: var(--main-color);
}

#Questions li label i {
	transition: transform 0.5s;
	font-size: 22px;
	color: var(--second-color);
}

#Questions li label i.active {
	transform: rotate(90deg);
}

#Questions label+input[type="radio"] {
	display: none;
}

#Questions .content {
	padding: 0 10px;
	line-height: 26px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s;
	color: var(--second-color);
}

#Questions label+input[type="radio"]:checked+.content {
	max-height: 400px;
}

.article-content {

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	align-items: center;
	text-align: left;
	gap: 2rem;
	margin-top: 5rem;
}

.article-content .box img {
	height: auto;
	width: 100%;
	border-radius: 0.5rem;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}

/** Service Pricing Tabil**/
.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
	margin: 50px;
	padding: 0px 20px;
	gap: 2rem;

}

.pricing-table {
	text-align: center;
	padding: 30px 0px;
	border-radius: 0.5rem;
	position: relative;
	background: #12141c;

}

.pricing-table .head {
	border-bottom: 1px solid #eee;
	padding-bottom: 50px;
	transition: all 0.5s ease;
}

.pricing-table:hover .head {
	border-bottom: 1px solid var(--main-color);

}

.pricing-table .head .title {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 700;
}

.pricing-table .content .price {
	background: linear-gradient(to right, #eb4a4a 0%, #bc3b3b 100%);
	width: 90px;
	height: 90px;
	margin: auto;
	line-height: 90px;
	border-radius: 50%;
	border: 5px solid #fff;
	box-shadow: 0px 0px 10px #ccc;
	margin-top: -50px;
	transition: all 0.5s ease;
}

.pricing-table:hover .content .price {
	transform: scale(1.2);

}

.pricing-table .content .price h1 {
	color: #fff;
	font-size: 30px;
	font-weight: 700;
}

.pricing-table .content ul {
	list-style-type: none;
	margin-bottom: 20px;
	padding-top: 10px;
}

.pricing-table .content ul li {
	margin: 20px 0px;
	font-size: 14px;
	color: var(--second-color);
}

.pricing-table .content .buy-now {
	background: linear-gradient(to right, #ed5f5f 0%, #eb4a4a 100%);
	border-radius: 40px;
	font-weight: 500;
	position: relative;
	display: inline-block;
}


.pricing-table .btnsp {
	color: #fff;
	padding: 14px 40px;
	display: inline-block;
	text-align: center;
	font-weight: 600;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3 linear;
	transition: all 0.3 linear;
	border: none;
	font-size: 14px;
	text-transform: capitalize;
	position: relative;
	text-decoration: none;
	margin: 2px;
	z-index: 9999;
	text-decoration: none;
	border-radius: 50px;

}

.pricing-table .btnsp:hover {
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.pricing-table .btnsp.bordered {
	z-index: 50;
	color: var(--text-color);
}


.pricing-table .btnsp.bordered:after {
	background: var(--bg-color) none repeat scroll 0 0;
	border-radius: 50px;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3 linear;
	transition: all 0.3 linear;
	width: 100%;
	z-index: -1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}

.pricing-table:hover .btnsp.bordered:after {
	opacity: 0;
	transform: scale(0);
}


.last-text p {
	text-align: center;
	padding: 15px;
	color: var(--second-color);
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
}

.top {
	position: fixed;
	bottom: 2.1rem;
	right: 2.1rem;
}

.top i {
	color: var(--text-color);
	background: var(--main-color);
	font-size: 20px;
	padding: 10px;
	border-radius: 0.5rem;
}

@media (max-width: 1045px) {
	.wrapperts .Tastbox {
		width: calc(50% - 10px);
		margin: 10px 0;
	}
}

@media (max-width: 702px) {
	.wrapperts .Tastbox {
		width: 100%;
	}
}

@media (max-width: 1325px) {
	header {
		padding: 16px 3%;
	}

	header.sticky {
		padding: 8px 3%;
	}

	section {
		padding: 130px 3% 60px;
	}
}

@media (max-width: 970px) {
	:root {
		--h1-font: 4.2rem;
		--h2-font: 2.9rem;
		--p-font: 1rem;
	}

	section {
		padding: 70px 3% 60px;
	}

	.home-section {
		grid-template-columns: 1fr;
	}


	.about {
		grid-template-columns: 1fr;
	}

	.about-img {
		text-align: center;
	}

	.contact {
		grid-template-columns: 1fr;
	}

	.wrapper {
		grid-template-columns: repeat(1fr);
	}
}

@media (max-width: 830px) {
	#menu-icon {
		display: block;
	}

	.navbar {
		position: absolute;
		top: -600px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: #12141c;
		text-align: left;
		transition: all .40s ease;
	}

	.navbar a {
		display: block;
		padding: 1rem;
		margin: 1rem;
	}

	.navbar.active {
		top: 100%;
	}

	:root {
		--h1-font: 3.7rem;
		--h2-font: 2.7rem;
	}
}

@media screen and (max-width:600px) {
	.wrapper {
		grid-template-columns: 1fr;
	}
}